# Kopf- und Fussbereich duerfen nur ueber index.php eingebunden werden.

<IfModule mod_authz_core.c>
	Require all denied
</IfModule>

<IfModule !mod_authz_core.c>
	Order allow,deny
	Deny from all
</IfModule>
